
<div class = "container center text-center">

    
<img src ="../../assets/books2.webp" id="img" >

<p> Lorem Ipsum is one of the best themes for your book store, online library and media store website. It can be actual books, magazines, or it can be audio books, videos, games, music and movies. As well as stores, Lorem Ipsum can serve as an online literary club, publishers website, publishing houses, books and movies reviews etc.</p>

<p>Our theme is equipped with multiple widgets, shortcodes and plugins that provide all those amazing options for your customization. Another great feature is the compatibility with Learn Dash. You can start online courses of any kind, and therefore create a website for distant online education!</p>

<p> Lorem Ipsum is one of the best themes for your book store, online library and media store website. It can be actual books, magazines, or it can be audio books, videos, games, music and movies. As well as stores, Lorem Ipsum can serve as an online literary club, publishers website, publishing houses, books and movies reviews etc.</p>

</div>
